html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:12px;font-family:inherit;margin:0;padding:0}
abbr,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,video{display:block}
:focus{outline:0;outline-width:0}
body{line-height:1;background:#FFF;font-style:normal;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#555}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:400}
blockquote:before,blockquote:after,q:before,q:after{content:""}
a{text-decoration: none;}
a img{border:none}
.clearfix:after{
    visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0
}
.table{display:table}
.table-row{display:table-row}
.table-cell{display:table-cell}
.vertical-align-middle{vertical-align:middle}
.clear{clear:both}
input,textarea,select{font-size:12px;color:#555;margin:0}
a:active{color:#555}
* html .clearfix,:first-child+html .clearfix{zoom:1}